<html>

	<head>
		<title>Mascotas de usuarios</title>
		<link href="plantilla.css" rel="stylesheet" />
	</head>
	<div class="header">
		<h1>¡Animal Friends!</h1>
		<h1>Editar usuario</h1>
	</div>
<body>	
	<br>
	<form action="/aniadirMascota" method="post">
		<p>Nueva mascota: <input type='text' name='tipo'/></p>
		<input type='submit' value='añadir'/>
		<input type="hidden" name="_csrf" value="{{token}}"/>
	</form>
	<br>
	<form action="/aniadirReserva" method="post">
		<p>Lugar: <input type='text' name='lugar'/></p>
		<input type='submit' value='añadir'/>
		<input type="hidden" name="_csrf" value="{{token}}"/>
	</form>
	<br>
	<form action="/aniadirProducto" method="post">
		<p>Producto: <input type='text' name='producto'/></p>
		<input type='submit' value='añadir'/>
		<input type="hidden" name="_csrf" value="{{token}}"/>
	</form>
	
	<a href="/">Volver</a>
</body>
</html>