<html lang="es">

<head>
	<meta name="viewport" content="width=device-width" />
	<title>Usuario vista</title>
	<link href="paginassecundarias.css" rel="stylesheet" />
</head>


<body>
	<div class="container body-content">

		<div class="header">

			<h1>¡Animal Friends!</h1>

		</div>

		<div class="contenedor-form" style="padding-top:10px;">
			<div class="toggle">
				<div class="inline-buttons">
					<p>Nombre Usuario: {{usuario.nombre}}</p>
					<br>
				</div>
			</div>
		</div>
		<br>
		<p>¡Gracias por su pedido!</p>
		<br>
		<p>En los proximos minutos le llegará un correo de confirmación</p>
		<br>
		<a href="/usuario">Volver</a>
	</div>

</body>

</html>