<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link href="estilos.css" rel="stylesheet" />

</head>

<body>
	<div class="header">
		<h1>¡Animal Friends!</h1>

	</div>
	<div class="contenedor-form">
		<div class="toggle">
			<a href="/registrar"> Registarse</a>
		</div>

		<div class="formulario">
			<h2>Iniciar Sesión</h2>
			<form method='post' action="/login">
				<input type="text" placeholder="Usuario" name="nombre" required>
				<input type="password" placeholder="Contraseña" name="psw" required>
				<input type="submit" value="Iniciar Sesión">
				<input type="hidden" name="_csrf" value="{{token}}">
			</form>
		</div>
		<div class="reset-password">
			<a href="/home">Volver</a>
		</div>
	</div>
	<footer th:fragment="creditFooter" class="credit">
</body>

</html>