<html lang="es">

<head>
	<meta name="viewport" content="width=device-width" />
	<title>Localizaciones</title>
	<link href="paginassecundarias.css" rel="stylesheet" />
</head>

<body>
	<div class="container body-content">


		<div class="header">

			<h1>¡Animal Friends!</h1>
			<h1>Localizaciones</h1>

		</div>

		<div class="contenedor-form" style="padding-top:10px;">
			<div class="toggle">
				<div class="inline-buttons">
					{{#permiso}}
					<a href="localizaciones/new">Nueva localizacion</a>
					{{/permiso}}
					<a href="/">Volver</a>
				</div>
			</div>
		</div>
		
		<div class="contenedor" style="padding-top:10px;">
			<div class="toggle">

				{{#local}}

				<a href="localizaciones/{{id}}">{{nombreSitio}}, {{tipo}}</a><br>
				<a href="localizacion/{{id}}/añadir"> Añadir a la cesta </a>

				<a href="localizaciones/{{id}}">{{nombreSitio}}, {{tipo}}</a>
				<a href="localizaciones/{{id}}/añadir"> Añadir reserva </a>

				<br>
				{{/local}}

				{{^local}}
				<a>No hay localizaciones</a>
				{{/local}}

			</div>
		</div>
</body>

</html>