<html lang="es">

<head>
	<meta name="viewport" content="width=device-width" />
	<title>Animales</title>
	<link href="paginassecundarias.css" rel="stylesheet" />
</head>


<body>
	<div class="container body-content">


		<div class="header">

			<h1>¡Animal Friends!</h1>
			<h1>Animales</h1>

		</div>

		<div class="contenedor-form" style="padding-top:10px;">
			<div class="toggle">
				<div class="inline-buttons">

					<!-- {{#animales}} -->
					<!-- <a href="animal/{{id}}">{{tipo}}</a> -->
					<!-- {{/animales}} -->


					{{^animales}}
					<a>No hay animales</a>
					{{/animales}}

					<a href="newAnimal">Nuevo animal</a>
					<a href="/">Volver</a>

				</div>
			</div>
		</div>
	</div>

	<div class="row justify-content-start" style="padding-top:10px;">



		<a href="animal/1"><img alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px;"
				src="capuchilo.jpg"></a>


		<a href="animal/2"><img alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px;"
				src="erizo.jpg" />


	</div>


</html>