<html lang="es">

<head>
	<meta name="viewport" content="width=device-width" />
	<title>Productos</title>
	<link href="paginassecundarias.css" rel="stylesheet" />
</head>


<body>
	<div class="container body-content">


		<div class="header">

			<h1>¡Animal Friends!</h1>
			<h1>Productos</h1>

		</div>

		<div class="contenedor-form" style="padding-top:10px;">
			<div class="toggle">
				<div class="inline-buttons">
					{{#permiso}}
					<a href="productos/new">Nuevo producto</a>
					{{/permiso}}
					<a href="/">Volver</a>
				</div>
			</div>
		</div>
		<div class="row justify-content-start" style="padding-top:10px;">
			{{#prod}}
			<a href="productos/{{id}}">{{nombre}}, {{tipo}}</a>
			<a href="productos/{{id}}/añadir"> Añadir a la cesta </a>
			<br>
			{{/prod}}
		</div>
		{{^prod}}
		<p>No hay productos</p>
		{{/prod}}
			
		
		
	</div>



	<div class="row justify-content-start" style="padding-top:10px;">



		<a href="productos/1"><img alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px;"
				src="pelota.jpg"></a>


		<a href="productos/2"><img alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px;"
				src="piensosgatos.jpg" />


	</div>
</body>

</html>