<html lang="es">

<head>
	<meta name="viewport" content="width=device-width" />
	<title>Animales</title>
	<link href="paginassecundarias.css" rel="stylesheet" />
</head>


<body>
	<div class="container body-content">


		<div class="header">

			<h1>¡Animal Friends!</h1>
			<h1>Animales</h1>

		</div>

		<div class="contenedor-form" style="padding-top:10px;">
			<div class="toggle">
				<div class="inline-buttons">
					{{#permiso}}
					<a href="animales/new">Nuevo animal</a>
					{{/permiso}}
					<a href="/">Volver</a>

				</div>
			</div>
		</div>
		
		<div class="row justify-content-start" style="padding-top:10px;">
			{{#animales}}
			<a href="animales/{{id}}">{{tipo}}</a>
			<!--<a href="animal/{{id}}"><img alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px;"
				src="data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAwBAMAAACh2TSJAAAALVBMVEUAAADtNTX////3n5/+9fX719f7zMz5tLTzfHzuQED//f31jY3ybGzxXV3wVFRaxp+rAAAAAXRSTlMAQObYZgAAALVJREFUOMut0rENAjEQRNHdC4kY0QBaAQUQX0QAFSAKIKQEKiAA6VqgIkriApuV1x7pQPz0aWwHljLMpZ0CRDBGoXmeghGYKFJsUo90giAImCgV5OJF+oOgKE48MlGgs2VLBIunWesw0a1ZHqF82c7GmmIfUSpgotOly29DFPFJFDEhkgIT/V5mZuvj6XofKrHU6vyI4u37IYi36aN4h5tL7PJyif1dvCgEpapzISbCTEj5R78BZq5A5Ldh2XYAAAAASUVORK5CYII"></a>
			-->
			{{/animales}}
		</div>

		{{^animales}}
		<a>No hay animales</a>
		{{/animales}}

		
		
	</div>


</html>