<html>

<head>
	<title>Inicio de sesión</title>
	<link href="plantilla.css" rel="stylesheet" />
</head>

<div class="header">
	<h1>¡Animal Friends!</h1>
	<h1>Iniciar Sesión</h1>
	
</div>

	{{#incorrecto}}
	<h2>Nombre o contraseña incorrectos</h2>
	{{/incorrecto}}
	
	{{^incorrecto}}
	<h1>Introduce tu nombre y contraseña</h1>
	{{/incorrecto}}

<form method='post' action="/loginUsuario">
	<br>
	
	<label>Nombre:</label><input type="text" placeholder="Ingresar nombre" name="nombre" required/><br />
	<label>Contraseña:</label><input type="password" placeholder="Ingresar Contraseña" name="psw" required/><br />
	
	<input type="hidden" name="_csrf" value="{{token}}"/>
	<p>¿No está registrado? <a href="/registrar"> Registrarse </a></p>

	<input type="submit" value="Iniciar sesion" />
	
	<br>
	<br>
	<a href="/"> Volver</a>
	
</form>


<footer th:fragment="creditFooter" class="credit">
	</body>

</html>