<html lang="es">

<head>
	<meta name="viewport" content="width=device-width" />
	<title>Nuevo Producto</title>
	<link href="paginassecundarias.css" rel="stylesheet" />
</head>


<body>
	<div class="container body-content">
		<div class="header">

			<h1>¡Animal Friends!</h1>
			<h1>Añadir Producto</h1>

		</div>

		<div class="contenedor-form" style="padding-top:10px;">
			<div class="toggle">
				<div class="inline-buttons">

					<form action="/producto/new" method="post">
						<p>Producto: </p>
						<input type='text' name='nombre' />
						<textarea name='tipo' rows=5 cols=40>
						Descripción del producto </textarea>

						<input type='submit' value='Save' />
						<input type="hidden" name="_csrf" value="{{token}}"/>
					</form>
				</div>
			</div>
		</div>
	</div>

</html>