<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<title>Nuevo Animal</title>
	<link href="estilos.css" rel="stylesheet" />

</head>

<body>

	<div class="header">
		<h1>¡Animal Friends!</h1>
	</div>

	<div class="contenedor-form">
		<div class="toggle">
			<a href="/"> Volver</a>
		</div>
		<div class="formulario">
			<h2>Crear Animal</h2>
			<form method='post' action="animales/new/created" enctype="multipart/formdata">

				<p>Animal: </p>

				<input type='text' name='tipo' />

				<textarea name='descripcion' placeholder=" Descripción del animal" rows=5 cols=54.8></textarea>
				<br>

				<input type="file" name="imageFile" id="fileId" onchange="imageUploaded()" />
				<br><br>

				<input type='submit' name="nombre-animal" value='Crear Animal' />

				<input type="hidden" name="_csrf" value="{{token}}" />


			</form>
		</div>

	</div>

	<script>
		let base64String = "";

		function imageUploaded() {
			var file = document.querySelector(
				'input[type=file]')['files'][0];

			var reader = new FileReader();
			console.log("next");

			reader.onload = function () {
				base64String = reader.result.replace("data:", "")
					.replace(/^.+,/, "");

				imageBase64Stringsep = base64String;

				// alert(imageBase64Stringsep);
				console.log(base64String);
			}
			reader.readAsDataURL(file);
		}

		function displayString() {
			console.log("Base64String about to be printed");
			alert(base64String);
		}
	</script>

	<br>
	<br>
	<footer>Copiright &copy; AnimalFriends.Com</footer>


</body>

</html>