<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<title>Nueva Localización</title>
	<link href="estilos.css" rel="stylesheet" />

</head>

<body>
	<div class="header">
		<h1>¡Animal Friends!</h1>
	</div>

	<div class="contenedor-form">
		<div class="toggle">
			<a href="/localizaciones"> Volver</a>
		</div>
		<div class="formulario">
			<h2>Crear Localización</h2>
			<form method='post' action="/localizacion/new/created">

				<p>Localización: </p>

				<input type='text' name='nombreSitio' />

				<textarea name='tipo' placeholder=" Descripción del lugar" rows=5 cols=54.8></textarea>
				<br>

				<input type='submit' value='Crear Localización' />
				<input type="hidden" name="_csrf" value="{{token}}" />
			</form>
		</div>

	</div>

</body>

</html>