<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<title>Nuevo Producto</title>
	<link href="estilos.css" rel="stylesheet" />

</head>

<body>
	<div class="header">
		<h1>¡Animal Friends!</h1>
	</div>

	<div class="contenedor-form">
		<div class="toggle">
			<a href="/"> Volver</a>
		</div>
		<div class="formulario">
			<h2>Crear Producto</h2>
			<form method='post' action="/productos/new/created">

				<p>Producto: </p>

				<input type='text' name='nombre' />

				<textarea name='tipo' placeholder=" Descripción del producto" rows=5 cols=54.8></textarea>
				<br>

				<input type='submit' value='Crear Producto' />
				<input type="hidden" name="_csrf" value="{{token}}" />
			</form>
		</div>

	</div>

</body>

</html>