<html lang="es">

<head>
	<meta name="viewport" content="width=device-width" />
	<title>Nuevo Animal</title>
	<link href="paginassecundarias.css" rel="stylesheet" />
</head>


<body>
	<div class="container body-content">
		<div class="header">

			<h1>¡Animal Friends!</h1>
			<h1>Crear Animal</h1>

		</div>

		<div class="contenedor-form" style="padding-top:10px;">
			<div class="toggle">
				<div class="inline-buttons">
					<p>Animal: </p>
					<form action="animal/new" method="post">
					
						<input type='text' name='tipo' />
						
						<textarea name='descripcion' rows=5 cols=40>
						Describe tu animal </textarea>

						<input type='submit' value='Save' />
						<input type="hidden" name="_csrf" value="{{token}}"/>
					</form>
				</div>
			</div>
		</div>
	</div>

</html>