<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width" />
	<title>Intento Principal 1</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
		integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>

<body>
	<div class="container body-content">


		<div class="container">


			<div class="row justify-content-start" style="padding-top:10px;">

				<div class="col" style="padding-top:10px;">
					<label></label>
					<div class="header" background-color: rgb(218, 218, 218); text-align:center;>
						<h1>¡Bienvenido a Animal Friends!</h1>

					</div>

				</div>
			</div>
			<div class="row justify-content-start" style="padding-top:10px;">


				<div class="col" style="padding-top:10px;">
					<a href="/indexPrueba"> Iniciar Sesión</a>


				</div>
				<div class="col" style="padding-top:10px;">
					<a href="/registrar"> Registarse</a>


				</div>
				<div class="col" style="padding-top:10px;">
					<a href="/animales"> Ver animales</a>


				</div>
				<div class="col" style="padding-top:10px;">
					<a href="/localizaciones"> Ver localizaciones</a>


				</div>
				<div class="col" style="padding-top:10px;">
					<a href="/productos"> Ver productos</a>


					<div class="col" style="padding-top:10px;">
						<a href="/editarUsuario"> Editar un usuario</a>
						<div class="formulario">
							<form action="/verUsuario" method="post">
								<p>Ver usuario: <input type='text' name='nombre' />
									<input type='submit' value='ver' />
								</p>
							</form>
						</div>



					</div>
				</div>
				<div class="row justify-content-start" style="padding-top:10px;">

					<div class="col" style="padding-top:10px;">


						<img alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px;"
							src="collares.jpg" />


					</div>
					<div class="col" style="padding-top:10px;">


						<img alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px;"
							src="hoteles.jpg" />


					</div>
					<div class="col" style="padding-top:10px;">


						<img alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px;"
							src="animales.jpg" />


					</div>
				</div>


			</div>



		</div>
</body>

</html>