<!DOCTYPE html>
<html lang="es">

<head>
	<meta name="viewport" content="width=device-width" />
	<title>Intento Principal 1</title>
	<link href="paginaprincipal.css" rel="stylesheet" />
</head>

<body>
	<div class="container body-content">


		<div class="header">

			<h1>¡Bienvenido a Animal Friends!</h1>



		</div>

		<div class="contenedor-form" style="padding-top:10px;">
			<div class="toggle">
				<div class="inline-buttons">
					
					{{^sesion}}
					<a href="/login"> Iniciar Sesión</a>

					<a href="/registrar"> Registarse</a>
					{{/sesion}}
					
					{{#sesion}}
					<a href="/logout"> Cerrar Sesión</a>
					{{/sesion}}

					<a href="/animales"> Ver animales</a>


					<a href="/localizaciones"> Ver localizaciones</a>


					<a href="/productos"> Ver productos</a>


					<a href="/editarUsuario"> Editar un usuario</a>

					<a>Ver usuario:</a>
					<a><input type='text' name='nombre' /></a>
					<a>
						<form action="/verUsuario" method="post">

							<input type='submit' value='ver' />

						</form>
					</a>
				</div>

			</div>
		</div>
	</div>
	<div class="row justify-content-start" style="padding-top:10px;">


		<img alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px;" src="collares.jpg" />



		<img alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px;" src="hoteles.jpg" />



		<img alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px;" src="animales.jpg" />



	</div>

	</div>

	</div>
</body>

</html>