<!DOCTYPE html>
<html lang="es">

<head>

	<meta charset="UTF-8">
	<title>Registro</title>
	<link href="estilos.css" rel="stylesheet" />

</head>

<body>

	<div class="header">
		<h1>¡Animal Friends!</h1>

	</div>
	
	{{#nombreUsado}}
	<h2>Nombre ya usado</h2>
	{{/nombreUsado}}
	
	{{#contrasenaIncorrecta}}
	<h2>Contraseña incorrecta</h2>
	{{/contrasenaIncorrecta}}
	
	<div class="contenedor-form">
		<div class="toggle">
			<a href="/home"> Volver</a>
		</div>

		<div class="formulario">
			<h2>Crea tu Cuenta</h2>
			<form method='post' action="/registrar/usuario">
				<input type="text" placeholder="Usuario" name="nombre" required>

				<input type="password" placeholder="Contraseña" name="psw" required>

				<input type="password" placeholder="Repita la contraseña" name="pswRepeat" required>
				
				<input type="hidden" name="_csrf" value="{{token}}"/>
				<input type="submit" value="Registrarse">
			</form>
		</div>
		<div class="reset-password">
			<a href="/login">¿Ya está registrado?</a>
		</div>
	</div>
	<footer th:fragment="creditFooter" class="credit">
</body>


</html>