<html>

<head>
	<title>Registro Usuarios</title>
	<link href="plantilla.css" rel="stylesheet" />
</head>


<div class="header">
	<h1>¡Animal Friends!</h1>
	<h1>Registrarse</h1>

</div>
	
	</div>
	{{#nombreUsado}}
	<h2>Nombre ya usado</h2>
	{{/nombreUsado}}
	
	{{#contrasenaIncorrecta}}
	<h2>Contraseña incorrecta</h2>
	{{/contrasenaIncorrecta}}

<form method='post' action="/registrarUsuario">
	<br>
	<label for="nombre"><b>Nombre</b></label>
	<br>
	<input type="text" placeholder="Ingresar nombre" name="nombre" required>
	<br>
	<br>
	<label for="password"><b>Contraseña</b></label>
	<br>
	<input type="password" placeholder="Ingresar Contraseña" name="psw" required>
	<br>
	<br>
	<label for="psw-repeat"><b>Repetir Contraseña</b>
	<br><label>
	<input type="password" placeholder="Repetir Contraseña" name="pswRepeat" required>
	<input type="hidden" name="_csrf" value="{{token}}"/>
	<p>¿Está ya registrado? <a href="/login"> Iniciar Sesión </a></p>
	

	<!-- Submit data button -->
	<br>
	<button type="submit" class="registerbtn"> Registrar</button>
	<br>
	<br>

</form>

<a href="/"> Volver</a>

<footer th:fragment="creditFooter" class="credit">
	</body>

</html>