<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<title>Ver Animal</title>
	<link href="paginaprincipal.css" rel="stylesheet" />

</head>

<body>

	<div class="header">

		<h1>¡Animal Friends!</h1>

	</div>

	<div class="contenedor-form">
		<div class="toggle">
			
				<p>Animal: {{animal.tipo}}</p>

				<p>Descripción: {{animal.descripcion}}</p>

				{{#permiso}}
				<a href="/animales/{{animal.Id}}/delete">Borrar animal</a>
				{{/permiso}}
				<br>

				<a href="/animales">Volver</a>
			
		</div>
	</div>

</body>

</html>