{{>header}}
	
	//codigo de prueba para probar booleanos en html
	{{#hello}}
	<p>Hello,</p>
	{{/hello}}
	
	{{^hello}}
	<p>Goodbye,</p>
	{{/hello}}
	
	//codigo de prueba de una variable
	<p>Hola {{name}}</p>
	
	//codigo de prueba de una lista de animales
	<p>Animales en la lista:</p>
	<ul>
		{{#animales}}
			<li>{{.}}</li>
		{{/animales}}
	</ul>
	<p>Animales en la tabla:</p>
	<table>
		{{#animales}}
			<tr>
			<td>{{-index}}</td>
			<td>{{.}}</td>
		 	</tr>
		 {{/animales}}
	 </table>
	
	//codigo para una iteracion de objetos
	<p>Animales en la lista:</p>
	<ul>
		{{#lAnimales}}
			<li>{{tipo}}</li>
		{{/lAnimales}}
		
	//formulario que saluda con tu nombre
	<form method="post" action="Nombre">

		<p>Saludar a:</p>
 		<input type='text' name='name'/>
 		<input type='submit' value='Enviar'/>
 		
	</form>
		
		
		
{{>footer}}